.about__content {
  width: 35%;
  margin-top: 20px;
}

.about__desc, .about__text-info, .about__ps {
  opacity: 0.5;
  margin-bottom: 20px;
}

.about__title {
  opacity: 1;
  font-size: 36px;
  margin-bottom: 30px;
}

.about__text-info {
  margin-bottom: 77px;
}