.triangles {
  display: flex;
  height: 100px;

  &--pointed-down {
    .triangles__shape {
      transform: rotate(180deg);
    }
  }
 
}

.triangles__shape {
   fill: #fff;
  width: 50%;
  height: 100%;
}