.userinfo {
  display: flex;
  justify-content: center;
}

.userinfo__title {
  font-size: 18px;
  opacity: 0.5;
margin-right: 56px;
}

.userinfo__name {
  font-size: 72px;
  font-weight: 800;
  line-height: 60px;
  flex-basis: 400px;
}

