script(type="text/template")#reviews-carousel 
  .container.rewiews__container
    .slider__header 
      .section-title.rewiews__title Что обо мне говорят
      .slider__buttons
        ul.slider__buttons-rewiews__list 
          li.slider__buttons-rewiews__item
            button(type="button" @click="prev" :disabled="!hasPrev").round-btn.round-btn--pointer--right
          li.slider__buttons-rewiews__item
            button(type="button" @click="next" :disabled="!hasNext").round-btn.round-btn--pointer--left
    .slider__container
      flickity(ref="flickity" :options="flickityOptions").slider__content
        div(v-for="(review, index) in reviews" :key="index").slider__item 
          .quote 
            .quote__text 
              p {{ review.text }}
            .quote__user 
              .user-display 
                .user-display__avatar 
                  .user-display__avatar-style 
                    img(:src="review.pic", alt="avatar").user-display__pic
                .user-display__data 
                  .user-display__name {{ review.name }}
                  .user-display__occ  {{ review.occ }}